# Node modules
node_modules/

# Hardhat artifacts and cache
artifacts/
cache/

# dotenv environment variables file
.env

# Ignition logs (якщо це логи)
ignition/

# Optional: IDE, OS і інші тимчасові файли
.vscode/
.DS_Store
*.log
